# Python env and bytecode
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor
.vscode/
.idea/

# Data outputs
# data/test_output/
# *.gpkg
# *.parquet
# *.csv
# *.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
credentials.json
